<%- include('Partials/header'); %>
    <div class="containers">
        <img src="https://www.pixelstalk.net/wp-content/uploads/2016/07/Weather-Background.jpg" alt="Snow" style="width:100%;">
        <div class="bottom-left">Bottom Left</div>
        <div class="top-left">Top Left</div>
        <div class="top-right">Top Right</div>
        <div class="bottom-right">Bottom Right</div>
        <div class="centered">Centered</div>
    </div>
<%- include('Partials/footer'); %>